div.resum,  div.noticies,  div.multimedia,  div.usuaris,  div.inserirNoticia, div.inserirMulti, div.inserirUsuari{
	display: block;
	background-color: rgb(255, 255, 255); 
	min-height: 800px;
}

#containerResum, #containerNoticies, #containerMultimedia, #containerUsuaris, #containerInsNot, #containerInsMult, #containerInsUsers{
	border: solid 1px rgb(235, 235, 235);
	border-radius: 5px;
	margin-left: 25%;
	margin-right: 5%;
	padding: 10px;
	margin-top: 10px;
}

#containerInsNot .lbl, #containerInsMult .lbl, #containerInsUsers .lbl{
	display: block;
	margin-top: 10px;
}

#containerInsNot .long, #containerInsMult .long, #containerInsUsers .long{
	width: 300px;
}

#containerInsNot .opcions, #containerInsMult .opcions, #containerInsUsers .opcions{
	margin-top: 25px;
	text-align: center;
}

#containerInsNot .opcions .lbl, #containerInsMult .opcions .lbl, #containerInsUsers .opcions .lbl{
	display: inline-block;
	float: left;
}

#containerInsNot .radBut, #containerInsMult .radBut, #containerInsUsers .radBut{
	display:none;
}

#containerInsNot .opl, #containerInsMult .opl, #containerInsUsers .opl{
	display: block;
    position: relative;
    cursor: pointer;
    padding-top: 10px;
    width: 20%;
    min-width:100px;
    margin-left: 30%;
    color: rgb(58,58,58);
}

#containerInsNot .opl:first-child, #containerInsMult .opl:first-child, #containerInsUsers .opl:first-child{
	display: inline-block;
}

#containerInsNot .opl:hover, #containerInsMult .opl:hover, #containerInsUsers .opl:hover{
	cursor: pointer;
}

#containerInsNot .radBut:checked + .opl, #containerInsMult .radBut:checked + .opl, #containerInsUsers .radBut:checked + .opl{
	background-color: #00A573;
	color: white; 
}

#containerInsNot textarea, #containerInsUsers textarea{
	display: block;
	resize:none;
	width: 99%;
	height: 100px;
	text-align: justify;
	margin-bottom: 25px;
}

#containerInsNot .button-submit, #containerInsNot .button-cancelar, #containerInsMult .button-submit,  #containerInsMult .button-cancelar, #containerInsUsers .button-submit, #containerInsUsers .button-cancelar{
	margin-top: 25px;
}

#containerInsNot .button, input[type="button"], button , #containerInsMult .button, #containerInsUsers .button{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #444;
  padding: 1em 3em;
  margin: 0;
  text-decoration: none;
  color: #fff;
  border: 0px;
  font-size: 1em;
  cursor: pointer;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
}


#containerInsNot .button-submit , #containerInsMult .button-submit, #containerInsUsers .button-submit{
  float:right;
  background: #00A573;
}
#containerInsNot .button-submit:hover , #containerInsMult .button-submit:hover , #containerInsUsers .button-submit:hover{
  background: #000;
  color: #00A573;
}

#containerInsNot .button-cancelar, #containerInsMult .button-cancelar, #containerInsUsers .button-cancelar{
  background: #B66;
}
#containerInsNot .button-cancelar:hover, #containerInsMult .button-cancelar:hover, #containerInsUsers .button-cancelar:hover{
  background: #000;
  color: #B66;
}

#containerInsUsers h2{
	margin-left: 0;
}

h2{
	color: #1A9DCC;
	display:block;
	margin-left: 21%;
	padding: 10px;
}

.header {
	font-size: 28px;
}
.h2Form{
	color: #444;
	margin: 0;
}

form label {
  margin-left: 14px;
}

input[type="text"], input[type="password"],input[type="number"]{
  background: #f6f6f6;
  border: solid 1px;
  border-color: #ccc;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 3%;
  padding: 0.2em 1.3em;
}

input[type="number"]{
  padding: 0.2em 0 0.2em 0.5em;
}

input[type="text"].long, input[type="password"].long{
  width: 200px;
}

.noValid{
  color:red;
  border:1px solid red !important;
  -webkit-box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.4);
  -moz-box-shadow:    0px 0px 10px rgba(255, 0, 0, 0.4);
  box-shadow:         0px 0px 10px rgba(255, 0, 0, 0.4);
}
.valid{
  color: green;
  border:1px solid green !important;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 255, 0, 0.4);
  -moz-box-shadow:    0px 0px 10px rgba(0, 255, 0, 0.4);
  box-shadow:         0px 0px 10px rgba(0, 255, 0, 0.4);
}

.error{
	display: inline-block;
}

.formButs{
	display: block;
}

.contingut h3{
	color: #1A9DCC;
	margin-top: 0;
}

.menuadmin {
	width: 20%;
	float: left;
	border-right: 1px solid rgb(235,235,235);
	background-color: rgb(247,247,247);
	min-height: 800px;
}

.menuadmin ul {
	padding: 0;
	margin:0;
}
.menuadmin li {
	list-style-type: none;
	margin: 0;
	position: relative;
	display: block;
	text-align: center;
	border-right: 1px solid rgb(235,235,235);
	width: 100%;
}

.menuadmin ul a {
	color: rgb(140,140,140);
	text-decoration: none;
	box-sizing:border-box;
	border-bottom: 1px solid rgb(235,235,235);
	display: block;
	box-shadow:inset 0 1px 0 rgb(255,255,255);
	padding: 5px 0px;
}

.menuadmin li:hover a {
	color: #fff;
	background-color: #1A9DCC;
}

/*Resum*/
div.resum{
	text-align: justify;
}
.discusions .comentaris {color: rgb(27,106,173);}
.discusions .aprovats {color: rgb(105,174,48);}
.discusions .pendents {color: rgb(246,129,15);}
.discusions .spam {color: rgb(243,47,47);}
.valor {
	text-align: right;
	font-weight: 600;
	margin-right: 15px;
	min-width: 25px;
	display: inline-block;
}

.agregar{
	padding: 3px;
	margin-left: 10px;
	border: 1px solid rgb(190, 190 ,190);
	border-radius: 2px;
	background-color: rgb(235, 235, 235);
	display: inline-block;
}

/*Items*/
.item{
    padding-bottom: 10px;
    margin-top: 0;
    min-height: 2em;
}

.item:nth-child(even){
    background: #ccc;
}

.item:nth-child(odd){
    background: #eee;
}

.item .textitem{
	float:left;
	padding: 5px;
}

#noticiesA .item .textitem::before{
	content: url(../img/noticia.png);
}

#usuarisA .item .textitem::before{
	content: url(../img/usuari.png);
}

#multimediaA .item .video::before{
	content: url(../img/video.png);
}

#multimediaA .item .audio::before{
	content: url(../img/audio.png);
}

#multimediaA .item .article::before{
	content: url(../img/file.png);
}

.item .botons {
	float:right;
	padding: 5px;
}

.botons>span{
/*	border: 1px solid #000;*/
	border-radius: 5px;
	padding: 2px;
}

/*footer Admin*/
.footerAdmin {
	position: relative;
	bottom: 50px;
	border-top: 1px solid rgb(235,235,235);
	width: 100%;
	padding: 0;
	margin: 0;
}
.footerAdmin li {
	list-style: none;
}
.footerAdmin a {
	color: rgb(102,102,102);
	text-decoration: none;
	text-align: center;
	display: block;
}
.footerAdmin a:hover {
	background-color: rgb(247,247,247);
}
.footerAdmin .guardar, .footerAdmin .sortir {
	float: right;
}
.footerAdmin .guardar a, .footerAdmin .sortir a {
	width: 49px;
	height: 49px;
	line-height: 50px;
	border-left: 1px solid rgb(235,235,235);
}
