.panell{
	background-color: #fff;
}

.botons{
	display: block;
	margin-top: 2%;
}

.button{
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  background: #444;
	  text-decoration: none;
	  color: #fff;
	  border: 0px;
	/*  font-family: "Open Sans", helvetica, arial, sans-serif;
	*/  cursor: pointer;
	  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	  position: relative;
	  display: inline-block;
	  transition: all 0.3s ease 0s;
	  -moz-transition: all 0.3s ease 0s;
	  -webkit-transition: all 0.3s ease 0s;
}

.botons{
	margin-left: 10%
}

#jsonBut, #xmlBut{
	margin-left: 10%;
	font-size: 14px;
	text-align: center;
	padding: 10px 2px;
	width:29%;
}

#jsonBut:hover, #xmlBut:hover{
	background: #000;
  	color: #00A573;	
}

h2{
	margin-top: 2%;
	margin-left: 10%;
	color: #1A9DCC;
}

#crud{
	margin-top: 2%;
	margin-left: 33%;
	margin-right: 33%;
	margin-bottom: 2%;
	display: block;
	border:1px solid rgb(235, 235, 235);
	border-radius: 5px;
	text-align: center;
}

#mod, #del{
	width: 25%;
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
}

#mod:hover, #del:hover{
	background: #000;
  	color: #00A573;	
}

#contingutFitxer{
	height: 300px;
	margin-top: 2%;
	border: solid 1px rgb(235, 235, 235);
	border-radius: 5px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 2%;
	text-align: justify;
	overflow-y: scroll;
}

.item{
	margin-left: 2%;
	margin-right: 2%;
	text-align: justify;
	padding: 10px;
}

.item:nth-child(even){
    background: #ccc;
}

.item:nth-child(odd){
    background: #ddd;
}
