.panell{
	background-color: #fff;
}

.botons{
	display: block;
	margin-top: 2%;
}

.button{
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  background: #444;
	  text-decoration: none;
	  color: #fff;
	  border: 0px;
	/*  font-family: "Open Sans", helvetica, arial, sans-serif;
	*/  cursor: pointer;
	  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	  position: relative;
	  display: inline-block;
	  transition: all 0.3s ease 0s;
	  -moz-transition: all 0.3s ease 0s;
	  -webkit-transition: all 0.3s ease 0s;
}

.button:hover{
	background: #000;
  	color: #00A573;	
}

.botons{
	margin-left: 15%;
}

#jsonBut, #xmlBut{
	font-size: 14px;
	text-align: center;
	padding: 10px 2px;
	width:30%;
}

#res{
	margin-left: 5%;
	margin-right: 5%;
}

h2{
	margin-top: 2%;
	margin-left: 10%;
	color: #1A9DCC;
}

#crud{
	margin-top: 2%;
	margin-left: 33%;
	margin-right: 33%;
	margin-bottom: 2%;
	display: block;
	border:1px solid rgb(235, 235, 235);
	border-radius: 5px;
	text-align: center;
}

#mod, #del, #sav{
	width: 25%;
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 2%;
}

#sav{
	display: none;
}

.unable{
	background: #999;
	color: #555;
	cursor: default;
}

.unable:hover{
	background: #999;
	color: #555;
	cursor: default;
}

#contingutFitxer{
	height: 300px;
	margin-top: 2%;
	border: solid 1px rgb(235, 235, 235);
	border-radius: 5px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 2%;
	text-align: justify;
	overflow-y: scroll;
}

table{
	border-collapse: collapse;
}

th{
	background: #aaa;
}

th{
	color: #000;
}

td, th{
	border:1px solid #000;
	text-align: center;
}

td{
	width: 10%;
	height: 2rem;
	color: #111;
	padding: 0.2rem;
}

.tdCodi{
	width: 2rem;
}

.tdPreg{
	width: 15rem;
}

tr:nth-child(even){
    background: #aaa;
}

tr:nth-child(odd){
    background: #ccc;
}

.trEdit>td{
    color:red;
}

.tdBorrar, .thBorrar{
	display:none;
	width: 2rem;
}
